In [1]:
HOST = "10.42.160.3"
USER = "root"
PW = "Austin2023"
DB = "final_project"

In [2]:
import mysql.connector

def connect():
    connection = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PW,
    database=DB,
    autocommit=False)
    
    return connection


#### 1. Test connection

In [3]:
import mysql.connector

connection = connect()

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fc942965690>


#### 2. Create the table (and drop it if it already exists)

In [4]:
import mysql.connector

connection = connect()
print(connection)

drop = 'DROP TABLE IF EXISTS shopper'

create = '''CREATE TABLE shopper(
    cust_id SMALLINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(25) NOT NULL,
    last_name VARCHAR(25) NOT NULL,
    company VARCHAR(50) NOT NULL, 
    street_1 VARCHAR(50) NOT NULL,
    street_2 VARCHAR(50),
    city VARCHAR(30) NOT NULL,
    county VARCHAR(30) NOT NULL, 
    state CHAR(2) NOT NULL, 
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(12) NOT NULL,
    phone_2 CHAR(12) NOT NULL,
    email VARCHAR(100) NOT NULL,
    PRIMARY KEY  (cust_id)
) '''

print(drop)
print(create)

try:
    cursor = connection.cursor()
    cursor.execute(drop)
    print('Dropped shopper table')
    
    cursor = connection.cursor()
    cursor.execute(create)
    print('Created shopper table')
except Exception as e:
    print("Error occurred while creating person table:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fc942169e10>
DROP TABLE IF EXISTS shopper
CREATE TABLE shopper(
    cust_id SMALLINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(25) NOT NULL,
    last_name VARCHAR(25) NOT NULL,
    company VARCHAR(50) NOT NULL,
    street_1 VARCHAR(50) NOT NULL,
    street_2 VARCHAR(50),
    city VARCHAR(30) NOT NULL,
    county VARCHAR(30) NOT NULL,
    state CHAR(2) NOT NULL,
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(12) NOT NULL,
    phone_2 CHAR(12) NOT NULL,
    email VARCHAR(100) NOT NULL,
    PRIMARY KEY  (cust_id)
)
Dropped shopper table
Created shopper table

#### 3. insert records into table

In [5]:
import mysql.connector
from faker import Faker

fake = Faker()
Faker.seed(0)

connection = connect()
print(connection)

sql = "INSERT INTO shopper (first_name, last_name, company, street_1, street_2, city, county, state, zip,\
       phone_1, phone_2, email) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

records = []
for i in range(50):
    fName = fake.first_name()
    lName = fake.last_name()
    company = fake.company()
    city = fake.city()
    county = fake.city()
    state = fake.state_abbr()
    zCode = fake.zipcode()
    phone1 = fake.numerify(text="###-###-####")
    phone2 = fake.numerify(text="###-###-####")
    email = fake.ascii_free_email()
    
    
    add = fake.street_address()
    st1 = ""
    st2 = ""
    
    if "Suite" in add:
        m = add.split("Suite ")
        st1 = m[0]
        st2 = "Suite " + m[1]
    elif "Apt." in add:
        m = add.split("Apt. ")
        st1 = m[0]
        st2 = "Apt. " + m[1]
    elif "Box" in add:
        m = add.split(", Box ")
        st1 = m[0]
        st2 = "Box " + m[1]
    else:
        st1 = add
        st2 = None
    
    rec = (fName, lName, company, st1, st2, city, county, state, zCode, phone1, phone2, email)
    records.append(rec)

try:
    cursor = connection.cursor()
    cursor.executemany(sql, records)
    connection.commit()
    print('Wrote 50 records into person table')
    cursor.close()
except Exception as e:
    print("Error occurred while writing records:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fc9421377c0>
Wrote 50 records into person table